<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <bean class="SpringCoreAssignment.Address" name="addr">
   <property name="street" value="lingmpally" />
   <property name="city" value="HYD"/>
   <property name="state" value="TS"/>
   <property name="zip" value="500"/>
   <property name="country" value="IND"/>
   </bean>
   
   
   <bean class="SpringCoreAssignment.Customer" name="customer1">
      
      <property name="custId">
      <value>22344</value>      
      </property> 
      <property name="customerName">
      <value>karthik</value>
      </property>
      
      <property name="customerContact">
      <value>63036201</value>
      </property>
      
      <property name="customerAddress">
        <ref bean="addr"></ref>
      </property>
      
      </bean>

   
   </beans>